RewriteEngine On

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers: "Origin, Content-Type, Accept, Authorization, X-Request-With"
Header add Access-Control-Allow-Credentials: "true"

RewriteRule ^tb_configuracoes/update/?$         tb_configuracoes/update.php [NC,L]

RewriteRule ^tb_favoritos/delete/([0-9-]+)/?$   tb_favoritos/delete.php?codigo=$1 [NC,L]
RewriteRule ^tb_favoritos/insert?$              tb_favoritos/insert.php [NC,L]
RewriteRule ^tb_favoritos/([0-9-]+)/?$          tb_favoritos/select.php?codigo=$1 [NC,L]

RewriteRule ^tb_horarios/([0-9-]+)/?$           tb_horarios/select.php?codigo=$1 [NC,L]

RewriteRule ^tb_usuario/insert?$                tb_usuario/insert.php [NC,L]
RewriteRule ^tb_usuario/([0-9-]+)/?$            tb_usuario/select.php?codigo=$1 [NC,L]
RewriteRule ^tb_usuario/update/?$               tb_usuario/update.php [NC,L]

RewriteRule ^tb_ponto/([0-9-]+)/?$              tb_ponto/select.php?codigo=$1 [NC,L]

RewriteRule ^tb_linha/([0-9-]+)/?$              tb_linha/select.php?codigo=$1 [NC,L]

RewriteRule ^tb_onibus/([0-9-]+)/?$             tb_onibus/select.php?codigo=$1 [NC,L]